ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}
li {
    list-style: none;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: #14213A;
    border-radius: 50px;
    margin-bottom: 16px;
}
a {
    font-family: sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: white; 
}
